			<div id="header" class="skel-layers-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo" ng-controller="studentCtrl">
     						<h1 id="title">{{dept}}</h1>
							<p>{{level}} Level</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a ng-href="/#/library/{{dept}}/500" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">500 Level</span></a></li>
			<li><a ng-href="/#/library/{{dept}}/400" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">400 Level</span></a></li>
			<li><a ng-href="/#/library/{{dept}}/300" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">300 Level</span></a></li>
			<li><a ng-href="/#/library/{{dept}}/200" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">200 Level</span></a></li>
			<li><a ng-href="/#/library/{{dept}}/100" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">100 Level</span></a></li>
			
</ul>
						</nav>
						
				</div>
				
				
			</div>
		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
                			<header>
								<h2 class="alt">
                                                                Books On {{d.title}}

                                                                </h2>
							</header>

						</div>
					</section>
					
				<section id="portfolio" class="two">
<div style="float:left; width:185px; height:180px;" ng-repeat="data in books">
			<div style="float:left">
			    <img src="./images/Adobe_Acrobat_Icon.jpg" height="100" ng-click="val(data.url)"/>
			</div>	
<div style="float:right">{{data.title}}</div></div>
		
			
        </section>

        
			
			
			</div>


  

  
  
  
  
  
  
  
  
  
