		<!-- Header -->
			<div id="header" class="skel-layers-fixed">

				<div class="top" ng-controller="dashCtrl">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">{{datas.name}}</h1>
							<p>{{datas.dept}}</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/#/dashboard" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
								<li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Edit Profile</span></a></li>
			
</ul>
						</nav>
						
				</div>
				
				
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt" ng-show="details.length">
                                This Section Has a Total of {{details.length}} book(s)
                                </h2>
							</header>
							Click Below To Add New Resource Material
							<footer>
								  <div class="button" ngf-select ng-model="files" ng-controller="flCtrl">Upload using model</div>
							</footer>

						</div>
					</section>

<div>
<table class="table table-responsive" >
    <thead>
        <tr>
           <th>
            <b>Book title</b>
        </th>
        <th>
            <b>Course Name</b>
        </th>
        <th><b>Level</b></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in details">
            <td>{{data.url}}</td>
            <td>{{data.course_name}}</td>
            <td>{{data.level}}</td>
        </tr>
    </tbody>
</table>